.contactNote {


    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */


}
.btnadd:hover{
    background-color: #7bed9f;
  }
.btnadd{
    width:48%;
    border: none;
    outline: none;
    background-color: green;
    color: #000;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
  }
  .label  {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
  
  }
  .label1  {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  
    font-size: 35px;
    font-weight: bold;
    text-align: left;
  
  }

.item {
    background-color: #FBF7F4;
    padding-top: 50px;
    
    line-height: 2;
    width: 40%;
    padding-left: 0px;
}

.formbox {
    width: 60%;
}

.card {

    width: 100%;
    text-align: left;
    border: none;
    font-family: sans-serif;
    margin-top: 100px;

}
.card-body{
    border: none !important;
}

.item1 {
    background-color: #FBF7F4;
    padding-top: 50px;
    /* padding: 60px 0px; */
    width: 60%;

}

.form1 {
    width: 100%;
    padding: 0px;
    background-color: #FBF7F4;
    margin-top: -60px;
}

.form {
    width: 100%;
    padding: 0px;
    background-color: #fff;
}

.wrapper {
    width: 95%;
    padding: 38px;
    margin: 0 auto;
}

.item1 img {
    width: 100%;
    object-fit: contain;
    height: 300px;
}


.input {
    border: none;
padding: 15px;
text-align: center;
outline: none;
background-color: #fff;
min-width: 100%;
margin-bottom: 20px;
/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */

box-shadow: rgb(165, 42, 42) 0px 3px 8px;
   
    
}

@media (max-width: 800px) {
    
    .formbox {
        width: 100%;
    }

    .item1 {
        width: 100%;
    }
    .form{
        position: relative;
        top:20px;
    }

    .form1 {
        /* position: relative;
        top: 245px; */

    }


    .wrapper {}

    .col1 {
        margin-left: 0px;
    }

    .item,
    .item1 {
        width: 100%;
    }
}