*{
    padding: 0px;
    margin:0px;
}
.pagelink{
    /* width: 10px;
    height: 10px; */
    /* border-radius: 23px; */
    padding: 15px !important;
    border-radius: 20px !important;
    text-align: center !important;
    font-size: 20px !important;
    background-color: #f6e58d !important;
    color:black !important;
    margin-right: 30px !important;
}
.pagelink:hover{
    background-color: #f6e58d !important;
}
@media (max-width:768px){
    .pagelink{
        margin-right: 16px !important;
    }
}